/**
 * Styles used in FtcBlocksProjects.html, FtcBlocks.html, FtcSounds.html,
 * FtcOfflineBlocksProjects.html, and FtcOfflineBlocks.html
 */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  margin: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-size: small;
  cursor: pointer;
}

.buttons_td {
  padding: 5px;
}

a.help {
  color: white;
}

.blank_td {
  background-color: white;
  padding: 1px;
}

.my_projects_td, .my_sounds_td {
  color: white;
  padding: 5px;
  font-weight: bold;
}

#saveSuccess {
  color: #ffffff;
}

#saveFailure {
  color: #ffffff;
  padding: 0px 10px 0px 10px;
  background-color: #f0ad4e;
  border: 1px solid transparent;
  border-radius: 4px;
}

.error_message {
  color: red;
}

.header_tr {
  background: #eeeeee;
}

.header_td {
  font-family: sans-serif;
  font-size: small;
  cursor: pointer;
}

#projectsTableScroll, #soundsTableScroll {
  height: 200px;
  overflow: auto;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
}

.project_row_tr {
  color: white;
  padding: 5px;
  font-weight: bold;
}

.project_tr, .sound_tr {
  border-bottom: 1pt solid white;
}

.project_name, .sound_name {
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#project_flavor, #project_group {
  font-weight: normal;
}

.workspace_td {
  background-color: white;
  height: 100%;
}

svg.blocklyWsDragSurface {
  overflow: visible;
}

.modal_dialog {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.1);
}

.modal_dialog_container {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.modal_dialog_content {
  display: inline-block;
  text-align: left;
  padding: 16px;
  border: 3px solid #000;
  background-color: #fefefe;
}

.dragBar {
  cursor: col-resize;
  background-color: #909090;
  position: absolute;
  width: 4px;
  height: 1px; /* calculated later */
}

.area {
  display: inline-block;
  height: 100%;
  background-color: white;
  vertical-align: top;
}

.parent{
  width: 100%;
}

#javaCodeHeading {
  padding-left: 4px;
  font-weight: bold;
  color: white;
}

#javaContent {
  display: block;
  height: 100%;
  overflow: auto;
  margin: 2px 4px 2px 4px;
  border: none;
  padding: 0px;
  background-color: white;
  color: black;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  page-break-inside: avoid;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}
