<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.hardware"
    android:versionCode="67"
    android:versionName="11.9" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />

</manifest>